    <div class="account_nav outlined_block ">
        <nav class="account_nav__list">
            <h3 class="account_nav__link text_settings_menu">Настройки аккаунта</h3>

            <a class="account_nav__link account_nav__link_type_active account_nav_width" href="/settings">
                Редактировать профиль
            </a>

            <a class="account_nav__link  account_nav_width" href="/settings/registration-data">
                Регистрационные данные
            </a>

            <a class="account_nav__link account_nav__link_type_active account_nav_width" href="/settings/edit">
                Управление подпиской
            </a>

            <a class="account_nav__link account_nav__link_type_active account_nav_width" href="/settings/edit">
                Журнал безопасности
            </a>

            <a class="account_nav__link account_nav__link_type_active account_nav_width" href="/settings/edit">
                Уведомления
            </a>

            <a class="account_nav__link account_nav_width account_nav_type_payment" href="/settings/payment_data">
                <span>Платёжная информация</span>
            </a>
        </nav>
    </div>