<form action="/login" method="post">
    <div class="container">
        <h1>Log In</h1>
        <p>Please fill in this form to enter to account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder={{#if isEmailsReapet}} "Email is already busy" class="placeholder"
            {{else}} "Enter Email: electrons.contact@gmail.com" class="" {{/if}} name="email">

        <label for="psw"><b>Password</b></label>
        <div class="password">
            <input type="password" id="password" placeholder="Enter Password" name="password" value={{password}}>
            <div id="showPasswordBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                </svg>
            </div>
        </div>

        <hr>
        {{#if isNotCorectUsersData}}
        <p style="color: red;">Invalid password or email</p>
        {{/if}}
        <input type="submit" class="registerbtn" value="log in">

        <div class="container-signin">
            <p>Have you an account? <a href="/registration">Register</a>.</p>
        </div>
    </div>
</form>