<form action="/login" method="post">
    <div class="container">
        <h1>Log In</h1>
        <p>Please fill in this form to enter to account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder={{#if isEmailsReapet}} "Email is already busy" class="placeholder"
            {{else}} "Enter Email: electrons.contact@gmail.com" class="" {{/if}} name="email">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" value={{password}}>
        <hr>
        {{#if isNotCorectUsersData}}
            <p style="color: red;">Invalid password or email</p>
        {{/if}}
        <input type="submit" class="registerbtn" value="log in">

        <div class="container-signin">
            <p>Have you an account? <a href="/registration">Register</a>.</p>
        </div>
    </div>
</form>