<h1>Акции</h1>
{{> modalWindow}}

<main>

    <div class="promotions">
        <div class="prom-panel"> <button class="create-new-promo">Добавить новую акцию</button></div>
        <div class=""></div>
    </div>
</main>