<form action="/registration" method="post">
    <input type="email" name="userEmail" /><br>
    <input type="password" name="userPassword"><br>
    <input type="submit" value="Отправить" />
</form>
<p>Email: {{email}}</p>
<p>Password: {{password}}</p>