
    <div class="four_zero_four_bg">
        <h1 class="text-center ">404</h1>
    </div>

    <div class="contant_box_404">
        <h2 class="h2">
            УХ ОЙ! Вы заблудились.
        </h2>

        <p>
            Страница, которую вы ищете <b style="color: royalblue;">{{pageUrl}}</b>, не существует.
            Как ты сюда попал - загадка. Но вы можете нажать кнопку ниже
            чтобы вернуться на главную страницу.
        </p>
        <button class="btn green" onClick='location.href="/"'>На главную</button>

    </div>
