<h1>{{getTitle title}}</h1>
<div class="account__holder">

    {{!-- <form method="post" action="/" name="settings"> --}}
        

        <div class="form_section  form_section_type_mypages">
            <h2>Персы</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Всего зарегистрированных пользователей: {{counter_user}}</h1>
            <p></p>
            <div class="pretty_button">
                <button type="submit">Сохранить <i class="bi bi-cloud-arrow-up"></i></button>
            </div>
        </div>

    {{!-- </form> --}}
</div>